{% include "parts/header.html" %}
					<div class="featured">
						<img src="images/featured-game.png" alt="">
					</div>
					<div class="section">
						<div>
							<h3>Welcome</h3>
							<div>
								<p>
									The MTG Trade List is a place were you can exchange cards from Magic The Gathering card game. Here you can post which cards you have and which cards you want. Then we work to find a good trade for you. Good luck and Good Games! ;) <a href="blog.html" class="more">read more</a>
								</p>
							</div>
						</div>
						<div>
							<h3>have lists</h3>
							<div>
								<a href="/have.html" class="figure"><img src="/images/have.jpg" alt=""></a>
								<span><a href="/have.html">See what players have</a></span>
							</div>
						</div>
						<div>
							<h3>want lists</h3>
							<div>
								<a href="/want.html" class="figure"><img src="/images/want.jpg" alt=""></a>
								<span><a href="/want.html">See what players want</a></span>
							</div>
						</div>
					</div>
{% include "parts/footer.html" %}