	  </div>
	</div>
</div>
<div id="footer">
	<div>
		<ul>
			<li id="facebook">
				<a href="#">facebook</a>
			</li>
			<li id="twitter">
				<a href="#">twitter</a>
			</li>
			<li id="googleplus">
				<a href="#">googleplus</a>
			</li>
		</ul>
		<p>
			@ copyright 2012. all rights reserved.
		</p>
	</div>
</div>
</div>
</body>
</html>